.add-document-panel{
  .x-body{
    background-color: #000000!important;
  }
  .x-panel-inner{
    background-color: #141414 !important;
    border-radius: 0 !important;
  }
  .choose-segmented-btn{
    .x-button{
      border-radius: 0;
      &.x-button-pressed{
        //background: #000;
        border: 1px solid #000;
        .x-button-label{
          color: #000;
        }
      }
    }
  }
  .name, .type{
    margin: .25em 0;
    min-height: 1.5em;
    .x-form-label{
      border-radius: 0;
      height: 1.5em;
      color: #fff;
      background: #141414;
      padding: 0.1em .6em;
    }
    .x-component-outer{
      height: 1.5em;
      min-height: 1.5em;
      .x-input-el{
        font-size: .8em;
        min-height: 1.5em;
        height: 1.5em;
        padding: 0.1em .6em;
      }
    }
    &.error{
      .x-form-label{
        color: red;
      }
    }
  }
  .description{
    margin: .25em 0;
    .x-form-label{
      color: #fff;
      background: #141414;
      //      padding: 0.1em .6em;
    }
    .x-component-outer{
      .x-input-el{
        padding: 0.1em .6em;
      }
    }
    &.error{
      .x-form-label{
        color: red;
      }
    }
  }
  .role{
    //    margin: .25em 0;
    .title{
     font-weight: bold;
      color: #fff;
      padding: 2em 0 .1em .6em;
      font-size: .9em;
      &.error{
          color: red;
      }
    }
    .x-field-checkbox{
      min-height: 1.5em;
      height: 1.5em;

    }
    .x-form-label{
      border-radius: 0;
      padding: 0 0 0 1em;
    }
    .x-component-outer{
      background: #141414;
      .x-input-el{
        min-height: 1.5em;
        height: 1.5em;
      }
      .x-field-mask::after{
        line-height: 1em;
        font-size: 1.4em;
      }

    }
  }
  .file{
    min-height: 1.5em;
    background: #141414;
    .x-form-label{

    }
    input{
      background: #141414;

    }
    .x-component-outer{
      .x-input-file{
        color: #fff;

      }
    }
  }
  .x-form-label{
    //height: 1.5em;
    color: #fff;
    border-radius: 0;
    background: #141414;
    //    padding: 0.1em .6em;

  }
  .error{
    .x-form-label{
      color: red;
    }

  }
  .btn-container{
    position: relative;
    width: 100%;
  }
  .x-component-outer{

    .x-input-el{
      padding: 0.1em .6em;
    }
  }
  .clear-btn{
    //    position: absolute;
    //    right: 0;
  }
  .upload-btn, .clear-btn, .close-btn, .take-file-btn{
    border: 1px solid #ffb94b;
//    background: #000;
    border-radius: 0!important;
    padding: 0 .1em;
    margin-bottom: 1em;
    &.x-button-pressed{
      background-image: none;
      background: #000;
    }
    .x-button-label{
      font-size: .8em;
      white-space: inherit;
    }
  }

  .clear-btn, .close-btn{
    width: 50%;

  }
  .take-file-btn{
    margin-bottom: .5em;
    margin-top: .2em;
  }
  .file-name{
    max-width: 12em;
    max-height: 2.5em;
    color: #fff;
    font-size: .9em;
    padding: .2em .5em;
    font-weight: bold;
    .x-innerhtml{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &.error{
      color: red;
    }
  }
}