.x-toolbar-dark{
  .x-button{
    //&.x-noicon{
    //padding: .4em;
    font-weight: 700;
    background-color: #000000;
    border:none;
    border-radius: 0px;
    background-image: none;



    .x-button-label{
      color: #ffffff;
      //font-size: 1.1em;
      font-weight: 700;
    }
    &.x-button-pressing{
      background-color: #ffb94b;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
      background-image: -webkit-linear-gradient(top, #C94700, #B84100);
      background-image: -moz-linear-gradient(top, #C94700, #B84100);
      background-image: -ms-linear-gradient(top, #C94700, #B84100);
      background-image: -o-linear-gradient(top, #C94700, #B84100);
      background-image: linear-gradient(top, #C94700, #B84100);
      border:none;
      border-radius: 0px;
      text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      display: block;
      position: relative;
      float: none;
      cursor: pointer;
      color: #FFF;
      text-transform:  capitalize;
    }
  }
   .x-button:hover{
        background-color: #ffb94b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
        background-image: -webkit-linear-gradient(top, #C94700, #B84100);
        background-image: -moz-linear-gradient(top, #C94700, #B84100);
        background-image: -ms-linear-gradient(top, #C94700, #B84100);
        background-image: -o-linear-gradient(top, #C94700, #B84100);
        background-image: linear-gradient(top, #C94700, #B84100);
        border:none;
        border-radius: 0px;
        text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
        -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        display: block;
        position: relative;
        float: none;
        cursor: pointer;
        color: #FFF;
        text-transform:  capitalize;
    }




}

.x-button{
  //&.x-noicon{
  //padding: .4em;
  //font-weight: 700;
  background-color: #000000;
  border:none;
  border-radius: 0px;
  background-image: none;



  .x-button-label{
    color: #ffffff;
    //font-size: 1.1em;
    font-weight: normal;
  }
  &.x-button-pressing{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
    background-image: -webkit-linear-gradient(top, #C94700, #B84100);
    background-image: -moz-linear-gradient(top, #C94700, #B84100);
    background-image: -ms-linear-gradient(top, #C94700, #B84100);
    background-image: -o-linear-gradient(top, #C94700, #B84100);
    background-image: linear-gradient(top, #C94700, #B84100);
    border:none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    position: relative;
    float: none;
    cursor: pointer;
    color: #FFF;
    text-transform:  capitalize;
  }
}
.x-button:hover{
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
  background-image: -webkit-linear-gradient(top, #C94700, #B84100);
  background-image: -moz-linear-gradient(top, #C94700, #B84100);
  background-image: -ms-linear-gradient(top, #C94700, #B84100);
  background-image: -o-linear-gradient(top, #C94700, #B84100);
  background-image: linear-gradient(top, #C94700, #B84100);
  border:none;
  border-radius: 0px;
  text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  display: block;
  position: relative;
  float: none;
  cursor: pointer;
  color: #FFF;
  text-transform:  capitalize;
}

#submit:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

@mixin box-flex($flex: $default-box-flex) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin box-orient($orientation: $default-box-orient) {
  $orientation: unquote($orientation);
  @include experimental(box-orient, $orientation, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-box {
  @include experimental-value(display, box, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-flex {
  @include display-box;
  // old
  @include experimental-value(display, flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

// Controlling widths
@mixin flex($flex, $flex-width: false) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, not -ms, not -khtml, not official);
  @if $flex-width {
    width: $flex-width;
  }
  @include experimental(flex, $flex, not -moz, -webkit, not -o, -ms, not -khtml, official);
}
@media screen and (min-width: 1300px) {
    font-size: 114%;
}
@media screen and (max-width: 1299px ) and (min-width: 940px) {
  font-size: 88%;
}
@media screen and (max-width: 939px ) and (min-width: 600px) {
  font-size: 57%;
}