.x-toolbar-dark{
  .x-button{
    font-weight: 700;
    background-color: #000000;
    border: 1px solid #ffb94b;
    border-radius: 0px;
    background-image: none;

    &.x-button-action{
      font-weight: 700;
      background-color: #000000;
      border: 1px solid #ffb94b;
      border-radius: 0px;
      background-image: none;
    }

    .x-button-label{
      color: #ffffff;
      //font-size: 1.1em;
      font-weight: 700;
    }
    &.x-button-pressing{
      background-color: #ffb94b;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
      background-image: -webkit-linear-gradient(top, #C94700, #B84100);
      background-image: -moz-linear-gradient(top, #C94700, #B84100);
      background-image: -ms-linear-gradient(top, #C94700, #B84100);
      background-image: -o-linear-gradient(top, #C94700, #B84100);
      background-image: linear-gradient(top, #C94700, #B84100);
      //border:none;
      border-radius: 0px;
      text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
      display: block;
      position: relative;
      float: none;
      cursor: pointer;
      color: #FFF;
      text-transform:  capitalize;
    }
  }
   .x-button:hover{
        background-color: #ffb94b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
        background-image: -webkit-linear-gradient(top, #C94700, #B84100);
        background-image: -moz-linear-gradient(top, #C94700, #B84100);
        background-image: -ms-linear-gradient(top, #C94700, #B84100);
        background-image: -o-linear-gradient(top, #C94700, #B84100);
        background-image: linear-gradient(top, #C94700, #B84100);
        //border:none;
        border-radius: 0px;
        text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
        -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
        display: block;
        position: relative;
        float: none;
        cursor: pointer;
        color: #FFF;
        text-transform:  capitalize;
    }




}

.x-button{
  //&.x-noicon{
  //padding: .4em;
  //font-weight: 700;
  border: 1px solid #ffb94b;
  background-color: #000000;
  //border:none;
  border-radius: 0px;
  background-image: none;



  .x-button-label{
    color: #ffffff;
    //font-size: 1.1em;
    font-weight: normal;
  }
  &.x-button-pressing{
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
    background-image: -webkit-linear-gradient(top, #C94700, #B84100);
    background-image: -moz-linear-gradient(top, #C94700, #B84100);
    background-image: -ms-linear-gradient(top, #C94700, #B84100);
    background-image: -o-linear-gradient(top, #C94700, #B84100);
    background-image: linear-gradient(top, #C94700, #B84100);
    //border:none;
    border-radius: 0px;
    text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
    display: block;
    position: relative;
    float: none;
    cursor: pointer;
    color: #FFF;
    text-transform:  capitalize;
  }
}
.x-button:hover{
  background-color: #ffb94b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C94700), to(#B84100));
  background-image: -webkit-linear-gradient(top, #C94700, #B84100);
  background-image: -moz-linear-gradient(top, #C94700, #B84100);
  background-image: -ms-linear-gradient(top, #C94700, #B84100);
  background-image: -o-linear-gradient(top, #C94700, #B84100);
  background-image: linear-gradient(top, #C94700, #B84100);
  //border:none;
  border-radius: 0px;
  text-shadow: 0 1px 0 rgba(0, 0, 0,0.7);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 17px 2px rgba(255, 255, 255, 0.2) inset, 0 5px 5px rgba(255, 255, 255, 0.2) inset;
  display: block;
  position: relative;
  float: none;
  cursor: pointer;
  color: #FFF;
  text-transform:  capitalize;
}

#submit:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.x-picker{
  background: #3C3C3C;
  border-top: #000;
  z-index: 100!important;
  .x-toolbar{
    background: #363839; /* Old browsers */
    background: -moz-linear-gradient(top,  #363839 0%, #1d1d1e 0%, #303133 61%, #1d1d1e 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363839), color-stop(0%,#1d1d1e), color-stop(61%,#303133), color-stop(99%,#1d1d1e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #363839 0%,#1d1d1e 0%,#303133 61%,#1d1d1e 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #363839 0%,#1d1d1e 0%,#303133 61%,#1d1d1e 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #363839 0%,#1d1d1e 0%,#303133 61%,#1d1d1e 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #363839 0%,#1d1d1e 0%,#303133 61%,#1d1d1e 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363839', endColorstr='#1d1d1e',GradientType=0 ); /* IE6-9 */

  }
  .x-picker-bar{
    border-top: 0.12em solid #EB7910;
    border-bottom: 0.12em solid #EB7910;
    height: 2.5em;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
  }
}

.x-select-overlay{
  height: 16em !important;
  width: 14em !important;

}

@mixin box-flex($flex: $default-box-flex) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin box-orient($orientation: $default-box-orient) {
  $orientation: unquote($orientation);
  @include experimental(box-orient, $orientation, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-box {
  @include experimental-value(display, box, -moz, -webkit, not -o, -ms, not -khtml, official);
}

@mixin display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-flex {
  @include display-box;
  // old
  @include experimental-value(display, flex, -moz, -webkit, not -o, -ms, not -khtml, official);
}

// Controlling widths
@mixin flex($flex, $flex-width: false) {
  @include experimental(box-flex, $flex, -moz, -webkit, not -o, not -ms, not -khtml, not official);
  @if $flex-width {
    width: $flex-width;
  }
  @include experimental(flex, $flex, not -moz, -webkit, not -o, -ms, not -khtml, official);
}
@media screen and (min-width: 1300px) {
    font-size: 114%;
}
@media screen and (max-width: 1299px ) and (min-width: 940px) {
  font-size: 88%;
}
@media screen and (max-width: 939px ) and (min-width: 600px) {
  font-size: 57%;
}