.registration-panel{
  border-radius: 0 !important;
  background-color: #000 !important;
  .x-panel-inner{
    background-color: #141414 !important;
    border-radius: 0 !important;

    .input-form{
      margin: .3em;
      //font-size: .85em;
      .x-form-fieldset-title{
        margin: .3em;
        text-shadow: none;
        .x-innerhtml{
          color: #FD8400;
          font-size: 1.1em;
          text-align: center;
        }
      }
      .x-form-fieldset-inner{
        border-radius: 0;
        background: #141414;
        border: none;
        .x-field{
          height: 1.5em;
          min-height: 1.5em;
          margin: 0.2em;


          border-radius: 0;
          border: 2px solid #000;
          margin-bottom: .5em;
          input::-webkit-input-placeholder{
            padding-left: .5em;
            font-size: .9em;
          }
          .x-form-label{
            min-height: 1.5em;
            border-radius: 0;
            padding: .2em;
            line-height: .85em;
            color: #FFF;
            background-color:#141414;
            border: none;
            text-shadow: none;
          }
          .x-input-el{
            min-height: 1.4em;
          }
          &.x-field-select{
            height: 1.6em;
            min-height: 1.6em;

          }
        }
        .x-component-outer{
          .x-input-el{
            padding: 0 !important;
          }
        }
      }
      .date-field{
        .label{
          color: #fff;
          padding-left: .4em;
        }
      }

    }

    .errorPanel{
      color: #FFF;
      padding: .2em;
      width: 100%;
      .x-innerhtml{
        text-align: center;
      }
    }

    .submit-btn{
      border: 1px solid #FFA500;
      //left: 11em;
      margin-left: .5em;
      margin-bottom: .2em;
    }
    .cancel-btn{
      border: 1px solid #FFA500;
      //left: 15em;
      margin-bottom: .2em;
    }
  }
  .x-clear-icon{
    width: 2em;
    height: 2em;
  }
}